include components/index.pug

doctype html
html(lang='en')
    +Head('Home page')
    body
        include parts/header.pug
        main.content-center 
            section.hero-section
                .image-wrapper 
                    img(src="./public/images/hero.jpg" alt="")
                    img.white-background(src="./public/images/hero-image-white.png" srcset="./public/images/hero-image-white.png 1x, ./public/images/retina/hero-image-white.png 2x" alt="")
                    .tour-label 
                        h3 Тур <br/>у Созополь, Болгарія
                        .code-title код туру
                        .code 3094119
                .body
                    .wrapper 
                        .title-wrapper
                            a(href="#") 
                                h1 Aquamarine hotel
                            ul.stars 
                                li 
                                    i.icon-active-star
                                li 
                                    i.icon-active-star
                                li 
                                    i.icon-active-star
                                li 
                                    i.icon-star
                                li 
                                    i.icon-star
                            .price $256
                        .statistic-wrapper 
                            .reviews Оцінка готелю <br/> 
                                b 45 відгуків
                            .general-rating 8,4
                            .rating-block 
                                .title номер
                                .value 8,9
                            .rating-block 
                                .title харчування
                                .value 8,1
                            .rating-block 
                                .title сервіс
                                .value 7,9
                            .rating-block 
                                .title інфраструктура
                                .value 8,9
                    .info 
                        b.days 320
                        .text сонячних днів на рік
            section.excursions-section
                +ExcursionItem('./public/images/excursion1.jpg', 'Шовковий шлях', 'Екстремальний маршрут', '$158')
                +ExcursionItem('./public/images/excursion2.jpg', 'Роупджампінг', 'Не дай Боже не любиш', '$57', '$90')
            section.discount-section
                .top-content
                    .sale $75 <br/>ЗНИЖКА
                    .promo-code 
                        .text промокод
                        .advert Знижка $75 готівкою при проживанні від 10 ночей
                        p 29 користувачів використали промокод
                    +Button('Отримати знижку', 'is-primary')
                +Button('Дивіться подробиці','detail-button', 'icon-arrow-bottom')
            section.article-section
                .body 
                    h3 36,6 градусів за Цельсієм і пізна- вальна фізика
                    p 
                        b Ніхто не замислювався чому температура людського тіла 36,6 С? Чому не інша? Чому не дорівнює денній температурі навколишнього простору, наприклад? Але чому так сталося? Перша причина лежить від нас на часовій осі в минулому на відстані в кілька мільярдів років. Саме тоді з'явилося життя.
                    p Грубо кажучи, первинні реплікатори обгородилися захисною оболонкою від решти океану - створивши клітини. Клітини це замкнуті водні резервуари, в яких вся життєдіяльність проходить у водному середовищі. І всі сухопутні організми концептуально це машини виживання реплікаторів, мобільне (у випадку з тваринами), сприятливе водне середовище для репродукції, оточене захисною оболонкою від зовнішнього світу.
                    h4 Шукаємо відповідь
                    p Що цікаво, всі теплокровні функціонують у межах тієї самої області температур, що й людина. Наприклад температура у коней 37,5-38,5; у корів 37,5-39,5; курей 40,5-42,5; свиней 39,0-40,0; кішок 38,0-39,5; мавп 38,1; голубів 41,0-44,0. Відповідь лежить у царині ні, не біології. А в галузі фізики води. Річ у тім, що теплоємність води нелінійно залежить від температури. Теплоємність - це кількість енергії, яку необхідно витратити для того, щоб нагріти 1 кг речовини на 1 градус. При збільшенні температури вона ніби пікірує, як штурмовик, і підноситься вгору після проходження нижньої точки в 36,8 градусів Цельсія. В організмі людини вода становить близько 65-70%, її теплоємність величезна.
                    blockquote Річ у тім, що теплоємність води нелінійно залежить від температури. Теплоємність — це кількість енергії, яку необхідно витратити для того, щоб нагріти 1 кг речовини на 1 градус. При збільшенні температури вона ніби пікірує, як штурмовик, і підноситься вгору після проходження нижньої точки в 36,8 градусів Цельсія. В організмі людини вода становить близько 65-70%, її теплоємність величезна.
                    p 90% енергії, одержуваної з їжею, теплокровні тому витрачають лише на підтримання постійної температури внутрішнього середовища. На нагрівання води. Тому ця ямка, мінімум, в якому потрібно було витрачати мінімальну кількість енергії на підтримання свого стану, як атрактор, стягував на себе протягом еволюції всі "моделі" теплокровних. Фенотипи, з робочою температурою інших діапазонів, були занадто "ненажерливими" і відсіювалися відбором.
                    h5 Хлорофилл и красота
                    p Могло статися так, що небо було б отруйно-жовте, а не блакитне. Трава так само червона. Подобався б нам такий пейзаж? Чому червоний, яскраво-жовтий, створюють відчуття неспокою і не підходять для ідилічних райських картин ландшафтів як блакитний і зелений? Справа не в них, а в нас. Ми продукт еволюції, продукт середовища, в якому ми розвивалися. Що і було показано на прикладі температури тіла.
                    table 
                        thead  
                            tr 
                                th Ім'я
                                th Сума
                                th Виплата
                                th Вид оплати
                        tbody 
                            tr  
                                td Сергій
                                td 2459 $
                                td 375 $
                                td Card Payment
                            tr  
                                td Микола
                                td 1569 $
                                td 582 $
                                td Card Payment
                            tr  
                                td Наталія
                                td 1759 $
                                td 965 $
                                td Card Payment
                    p Як знайти ці консервативні ознаки? Найчастіше розглядають 5 джерел інформації про них:
                    ul
                        li ембріологічні дослідження;
                        li тератологічні дані;
                        li порівняльно-морфологічні дані;
                        li аналіз вроджених поведінкових програм (етологічні дані);
                        li вивчення взаємозв'язку з іншими видами.
                .fact-item  
                    .number 0,71
                    .text WHR здорової людини 
                    p Один із вельми надійних показників здоров'я, фертильності, якраз «waistto hip ratio».
        include parts/footer.pug
        include parts/mobile-menu.pug
