mixin Social(className = '')
    ul(class=`social ${className}`)
        li
            a.facebook(href="https://facebook.com" target="_blank") 
                i.icon-facebook
        li
            a.telegram(href="https://web.telegram.org" target="_blank") 
                i.icon-telegram